/* ============================================ */
/* CODE/ENTRY SECTION */
/* ============================================ */

#codes-section {
  margin-bottom: 8px;
}

#codes-section label {
  display: block;
  margin-bottom: 2px;
}

.code-row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.code-row input[type="text"] {
  width: 60%;
  padding: 3px;
  font-size: 0.9em;
  margin-left: 5px;
}

.checkbox-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}

.checkbox-container input[type="checkbox"] {
  margin: 0;
}

.checkbox-container label {
  font-size: 0.9em;
  margin-top: 1px;
  line-height: 1;
}

.code-options {
  display: none;
  margin-top: -27px;
  margin-bottom: 2px;
  padding-right: 40%;
}

.code-options select {
  width: 60%;
  font-size: 0.8em;
  padding: 3px;
  margin-left: 5px;
}

#target-name-2-container {
  display: none;
  margin-bottom: 8px;
}
